*{
  margin: 0;
  padding: 0;
}

/*@font-face {
  src: url("../fonts/RopaSansSCPro-Regular.otf") format("opentype");
  font-family: 'RopaSansSCPro';
  font-style: normal;
  font-weight: normal;
}*/

html,
body{
  width: 100%;
  height: 100%;
  min-width: 840px;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'RopaSansSCPro';*/
  /*font-family: 'Arimo', sans-serif;*/
  font-size: 18px;
}

.page{
  width: 70%;
  margin: auto;
}

.main_header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 0.8em 0 0.8em 0;
    box-sizing: border-box;
}

.left_side{
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.left_side nav{
  display: flex;
  margin-left: 1em;
  }

  .left_side img{
  -moz-uzer-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  }

.left_side a{
  text-decoration: none;
  margin-right: 0.5em;
  color:rgb(0, 0, 0);
}

.left_side a:hover{
  text-decoration: underline;
}

.right_side{
  display: flex;
  align-items: center;
}

.right_side a{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 10em;
  height: 36px;
  color: rgb(255, 255, 255);
  font-size: 0.9em;
  text-align: center;
  background-color: rgb(108, 161, 196);
  border-radius: 0.4em;
  box-shadow: 0 1px 3px rgb(0, 0, 0);
  text-decoration: none;
}

.right_side a:hover{
  text-decoration: underline;
}

.stripe{
  display: flex;
  align-items: center;
  width: 100%;
  height: 4em;
  background-color: rgb(55, 156, 240);
}

.fields{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70.5%;
  margin: auto;
}

.districts{
  display: flex;
  justify-content: center;
  padding: 0 1em 0 1em;
  box-sizing: border-box;
  align-items: center;
  background-image: url('../../../temp_src/images/arrow_down.png');
  background-repeat: no-repeat;
  background-position: right 1em top 0.8em;
  margin: 0.5%;
  height: 36px;
  width: 18em;
  background-color: rgb(255, 255, 255);
  font-size: 0.9em;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Arimo', sans-serif;*/
  text-align: center;
  border: none;
  border-radius: 0.4em;
}

.districts:hover{
  cursor: pointer;
}

.areas{
  display: none;
}

.districts:focus ~ .areas,
.districts:active ~ .areas,
.areas:hover{
  display: block;
}

.more{
  display: flex;
  justify-content: center;
  /*padding: 0 1em 0 1em;*/
  box-sizing: border-box;
  align-items: center;
  /*background-image: url('../images/arrow_down.png');*/
  margin: 0.5%;
  height: 36px;
  width: 12em;
  background-color: rgb(158, 206, 255);
  font-size: 0.9em;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Arimo', sans-serif;*/
  text-align: center;
  border: none;
  border-radius: 0.4em;
}

.more:hover{
  cursor: pointer;
}

.search{
  display: flex;
  justify-content: space-around;
  padding: 0 3.5em 0 3.5em;
  box-sizing: border-box;
  align-items: center;
  /*background-image: url('../images/arrow_down.png');*/
  margin: 0.5%;
  height: 36px;
  width: 10em;
  color: rgb(255, 255, 255);
  background-color: rgb(30, 30, 30);
  font-size: 0.9em;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Arimo', sans-serif;*/
  text-align: center;
  border: none;
  border-radius: 0.4em;
}

.search img{
  margin-right: 0.3em;
  -moz-uzer-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.search:hover{
  cursor: pointer;
}

.stripe input{
  margin: 0.5%;
  height: 36px;
  width: 18em;
  font-size: 0.9em;
  color: #999;
  font-family: 'Oswald', sans-serif;
  /*font-family: 'Arimo', sans-serif;*/
  text-align: center;
  border: none;
  border-radius: 0.4em;
}

.stripe input:focus{
  color: #000;
}

.about{
  width: 70%;
  margin: auto;
  margin-top: 1em;
}

.description{
  text-align: justify;
}

.list{
  width: 70%;
  margin: auto;
  margin-top: 1em;
  padding-left: 1em;
  box-sizing: border-box;
  font-size: 20px;
}

.elements{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 71%;
  margin: auto;
  margin-top: 1em;
}

.k_place{
  display: flex;
  height: 12em;
  width: 47.6%;
  min-width: 20em;
  margin: 1%;
  /*margin-right: 0.5em;*/
  background-color: rgb(240, 240, 240);
  border-radius: 0.4em;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 1px 3px rgb(0, 0, 0);
  /*box-shadow: 0 0 10px rgb(230, 230, 230);*/
}

.k_name{
  display: flex;
  align-items: center;
}

.k_name a{
  margin: 0.4em 0em 0.25em 0.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.k_name a:hover{
  text-decoration: underline;
}

.k_name_body{
  width: 8em;
  margin: 0.4em 0em 0.25em 0.5em;
  }

.k_name_body a{
  margin-left: 0.5em;
  color: rgb(0, 0, 0);
  text-decoration: none;
  font-weight: bold;
  font-size: 1.1em;
}

.k_name_body a:hover{
  text-decoration: underline;
}

.k_body{
  display: flex;
  justify-content: flex-start;
}

.k_right{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 3.5em 0 1em 1.5em;
  font-size: 0.9em;
}

.adress{
  display: block;
  background-image: url("../../../temp_src/images/icon_address.png");
  background-position: left;
  background-size: 1.125em;
  background-repeat: no-repeat;
  padding-left: 1.6em;
  box-sizing: border-box;
}

.time{
  display: block;
  background-image: url("../../../temp_src/images/icon_time.png");
  background-position: left;
  background-size: 1.125em;
  background-repeat: no-repeat;
  padding: 0.3em 0 0.3em 1.6em;
  box-sizing: border-box;
}

.phone{
  display: block;
  background-image: url("../../../temp_src/images/icon_phone.png");
  background-position: left;
  background-size: 1.125em;
  background-repeat: no-repeat;
  padding-left: 1.6em;
  box-sizing: border-box;
}

.k_details a{
  text-decoration: none;
  color: rgb(41, 116, 178);
  font-weight: bold;
}

.k_details a:hover{
  text-decoration: underline;
}

.k_place img{
  margin: 1em 0 0.5em 0.5em;
  height: 8em;
}

/*.primer{
  margin-top: 5em;
  width: 100%;
  height: 8em;
  background-image: url("../images/primer.png");
  background-size: cover;
}*/

.left_side img,
.search img{
  pointer-events: none;
}

/*@media (max-width: 1070px) {
.k_place{
  height: 12em;
  width: 420px;
}
}*/
